<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{./css/menu.css}">

<body>
	<nav th:fragment="menu">
		<div>
			<div th:onclick="|location.href='@{/}'|" class="main">
				SIGGY
			</div>
			<div class="list">
				<ul>
					<li th:onclick="|location.href='@{/board}'|">BOARD</li>
					<li th:onclick="|location.href='@{/qna}'|">Q&A</li>
					<li th:onclick="|location.href='@{/info}'|">INFORMATION</li>
					<li th:if="${session.mname eq null}" th:onclick="|location.href='@{/login}'|">LOGIN</li>
					<li  th:if="${session.mname ne null}"   th:onclick="|location.href='@{/logout}'|">logout</li>
				</ul>
			</div>
		</div>
	</nav>
<!-- 	<div th:fragment="footer">
		footer입니다.
	</div> -->
</body>
</html>